<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body align="center">
{% extends "base.html" %}
{% block content %}
<form action="display">
  <label for="college">College name:</label><br>
  <select name="college" id="college">
      <option value="select">select</option>
    <option value="SJBIT">SJBIT</option>
    <option value="RNSIT">RNSIT</option>
    <option value="AMBEDKAR">AMBEDKAR</option>
    <option value="JSS">JSS</option>
  </select>
  <br><br>

  <label for="domain">Domain :</label><br>
  <select name="domain" id="domain">
       <option value="select">select</option>
    <option value="PYTHON">PYTHON</option>
    <option value="JAVA">JAVA</option>
    <option value="OOPS">OOPS</option>
    <option value="MACHINE LEARNING">MACHINE LEARNING</option>
    <option value="ARTIFICIAL INTELLIGENCE">ARTIFICIAL INTELLIGENCE</option>
    <option value="WEB DEVELOPMENT">WEB DEVELOPMENT</option>
  </select>
  <br><br>

  <label for="date">Date :</label><br>
  <input type="date" id="start" name="trip-start" value="2021-12-31" min="2021-04-01"  max="2021-12-31">
 <br><br>

  Mode of Payment<br>
  <input type="radio" id="Per Hour" name="mode_of_payment" value="Per Hour">
  <label for="female">Per Hour</label> &nbsp &nbsp &nbsp
  <input type="radio" id="Per Day" name="mode_of_payment" value="Per Day">
  <label for="other">Per Day</label>
  <br><br>


<label for="trainer">Trainer :</label><br>
  <select name="trainer" id="trainer">
       <option value="select">select</option>
    <option value="Akriti">Akriti</option>
    <option value="Vasavi">Vasavi</option>
    <option value="Preethi">Preethi</option>
    <option value="Keerthi">Keerthi</option>
    <option value="Chandler">Chandler</option>
    <option value="Romeo">Romeo</option>
  </select>
  <br><br>

  	<label for="No_of_days">Total no. of hours/days:</label><br>
    <input type="text" id="No_of_days" name="No_of_days" >

    <br><br>

   Mode of Training<br>
  <input type="radio" id="Online" name="mode_of_training" value="Online">
  <label for="Online">Online</label> &nbsp &nbsp &nbsp
  <input type="radio" id="Offline" name="mode_of_training" value="Offline">
  <label for="Offline">Offline</label>

<br><br>
  <br><br>
  <input type="submit" value="Submit">
</form>
{{res}}
{% endblock %}

</body>
</html>